* {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: calc(100% - 200px);
}

nav {
    background: coral;
    height: 100px;
}

main {
    height: calc(100% - 200px);
}

aside {
    background: rgb(229, 255, 80);
    height: 100px;
}

header {
    background: rgb(92, 80, 255);
    height: 100px;
}

footer {
    margin-top: auto;
    width: 100%;
    background: rgb(86, 255, 80);
    height: 100px;
}

@media (min-width:760px) {
    html,
    body {
        height: 100%;
    }
    .wrapper {
        height: calc(100% - 200px);
    }
    nav {
        float: left;
        background: coral;
        width: 12em;
        min-height: 100%;
    }
    main {
        max-width: calc(100% - 24em);
        margin-bottom: auto;
        float: left;
    }
    aside {
        float: right;
        background: rgb(229, 255, 80);
        width: 12em;
        min-height: 100%;
    }
    header {
        background: rgb(92, 80, 255);
        height: 100px;
    }
    footer {
        margin-top: auto;
        width: 100%;
        clear: both;
        background: rgb(86, 255, 80);
        height: 100px;
    }
}